div#main
{
	padding-left: 15%;
	padding-right:15%;
}

div[class = "floatDiv"]
{
	float : left; 
}

/* 가로 div class에 floatDiv 붙여주고 그 div들을 포함하고 있는 부모 div에 clearfix class 붙여줄것!*/

.clearfix:after
{
  content:'';
  display:block;
  clear:both;
}
input[type = "button"][class = "formButton"]
{
	background : #FFFFFF;
	color : #000000;
	border : 1px solid #000000;
	padding : 0;
	vertical-align : middle;
	font-size :14px;
}
 
 ul,input[type = "text"],input[type = "text"]:focus
 {
 	border : 0px solid #1E1E1E;
 }

.textBox,
.textBox:focus
 {
 	border : 1px solid #1E1E1E;
 	padding : 0px;
 }
 
 #aa
 {
 	border : 0rx
 }
 
 ul[id = "listUl"]>li
{
	color : #1E1E1E;
	border : 0;
	vertical-align : middle;
	padding : 0px;
	margin : 0;
	width : 100%;
}

ul[id = "listUl"]>li
{
	line-height : 14px;
	font-size : 14px;
	vertical-align : middle;
	background-color : #F2F2F2;
}

ul[id = "listUl"]>li:focus
{
	background-color : #F2F2F2;
}

ul[id = "listUl"]>li:hover
{
	background-color : #8A8A8A;
}

ul[id = "listUl"]>li
{
	cursor : pointer;
}

ul[id = "listUl"]>li#ColumnL,
ul[id = "listUl"]>li#ColumnL:focus
{
	background-color : #F2F2F2;
}

ul[id = "listUl"]>li.selectedLi,
ul[id = "listUl"]>li.selectedLi:hover,
ul[id = "listUl"]>li.selectedLi:focus
{
	background-color : #8A8A8A;
}




/********************************************************************/

div[id = "search-box-wrapper"]
{
	display : inline-flex;
	font-size : inherit;
}

button[id = "search-box-button"]
{
	font-size : inherit;
	border : 4px solid #1E1E1E;
	border-radius : 0 5px 5px 0;
	background-color : #1E1E1E;
	border-left : 0;
	padding : 0 0.75em;
	color : white;
	font-weight : bold;
	outline : 0;
	cursor : pointer;
}

input[type = "text"][id = "searchTextBox"]:hover,
input[type = "text"][id = "searchTextBox"]:focus
{
	border-color : #1E1E1E;
}

button[id = "search-box-button"]:hover,
button[id = "search-box-button"]:focus
{
	border-color : #1E1E1E;
	background-color : #1E1E1E
}

input[type="text"][id = "searchTextBox"]
{
    border-radius : 5px 0 0 5px;
}

input[type="text"][id = "searchTextBox"]
{
	font-weight : normal;
	height: 40px;
	line-height: normal;
	padding : 0.2em 0.2em;
	border : 4px solid #1E1E1E;
    background-color: #FFFFFF;
    outline : 0;
}

