div#main
{
	padding-left: 5%;
	padding-right:5%;
	padding-top: 3%;
	padding-bottom:3%;
	font-size : 20px;
	line-height : 20px;
	background-color : #F2F2F2;
}

div[class = "floatDiv"]
{
	float : left; 
}

/* 가로 div class에 floatDiv 붙여주고 그 div들을 포함하고 있는 부모 div에 clearfix class 붙여줄것!*/

.clearfix:after
{
  content:'';
  display:block;
  clear:both;
}

 
 ul,input[type = "text"],input[type = "text"]:focus
 {
 	border : 0px solid #1E1E1E;
 }

.textBox,
.textBox:focus
 {
 	border : 0px solid #1E1E1E;
 	padding : 0px;
 	background-color : #F2F2F2;
 }
 
 
 
ul[id = "listUl"]>li,
ul[id = "searchVideoUl"]>li
{
	color : #1E1E1E;
	border : 0;
	vertical-align : middle;
	padding : 0px;
	margin : 0;
	width : 100%;
}

ul[id = "listUl"]>li,
ul[id = "searchVideoUl"]>li
{
	line-height : 20px;
	font-size : 20px;
	vertical-align : middle;
	background-color : #F2F2F2;
}

ul[id = "listUl"]>li:focus,
ul[id = "searchVideoUl"]>li:focus
{
	background-color : #F2F2F2;
}

ul[id = "listUl"]>li:hover,
ul[id = "searchVideoUl"]>li:hover
{
	background-color : #8A8A8A;
}

ul[id = "listUl"]>li,
ul[id = "searchVideoUl"]>li
{
	cursor : pointer;
}

ul[id = "listUl"]>li#ColumnL,
ul[id = "listUl"]>li#ColumnL:focus
{
	cursor : default;
	background-color : #F2F2F2;
}

ul[id = "listUl"]>li.selectedLi,
ul[id = "listUl"]>li.selectedLi:hover,
ul[id = "listUl"]>li.selectedLi:focus,
ul[id = "searchVideoUl"]>li.selectedLi,
ul[id = "searchVideoUl"]>li.selectedLi:hover,
ul[id = "searchVideoUl"]>li.selectedLi:focus
{
	background-color : #8A8A8A;
}




/********************************************************************/

div[id = "search-box-wrapper"]
{
	display : inline-flex;
	font-size : inherit;
}

button[id = "search-box-button"]
{
	font-size : inherit;
	border : 4px solid #1E1E1E;
	border-radius : 0 5px 5px 0;
	background-color : #1E1E1E;
	border-left : 0;
	padding : 0 0.75em;
	color : white;
	font-weight : bold;
	outline : 0;
	cursor : pointer;
}

input[type = "text"][id = "searchTextBox"]:hover,
input[type = "text"][id = "searchTextBox"]:focus
{
	border-color : #1E1E1E;
}

button[id = "search-box-button"]:hover,
button[id = "search-box-button"]:focus
{
	border-color : #1E1E1E;
	background-color : #1E1E1E
}

input[type="text"][id = "searchTextBox"]
{
    border-radius : 5px 0 0 5px;
}

input[type="text"][id = "searchTextBox"]
{
	font-weight : normal;
	height: 40px;
	line-height: normal;
	padding : 0.2em 0.2em;
	border : 4px solid #1E1E1E;
    background-color: #F2F2F2;
    outline : 0;
}

.radioLable,
[name = "writeType"]
{
	cursor : pointer;
}

[name = "writeType"]
{
  appearance: none;
  margin: 0 10px;
  width: 24px;
  height: 24px;
  background: #eeeeee;
  box-shadow: inset 0 0 0 .4em white, 0 0 0 .3em;
  border-radius: 50%;
  transition: .2s;
  cursor: pointer;
  color: #363945;
}
[name = "writeType"]:hover,
[name = "writeType"]:checked 
{
  background: #363945;
  box-shadow: inset 0 0 0 .6em white, 0 0 0 .3em;
}
[name = "writeType"]:checked
{
  background: #56be8e;
  box-shadow: inset 0 0 0 .4em white, 0 0 0 .3em #56be8e;
}
[name = "writeType"]:focus
{
  outline: 0;
}
/*input[type = "button"][class = "formButton"]
{
	background : #FFFFFF;
	color : #000000;
	border : 1px solid #000000;
	padding : 0;
	vertical-align : middle;
	font-size :20px;
}*/
.formButton
{
	border-radius : 4px;
	border-left : 4px solid;
	border-right : 4px solid;
	border-top : 3px solid;
	border-color : #1E1E1E;
	background : none;
	font-size : 15px;
	text-align : center;
	cursor : pointer;
	color : #1E1E1E;
	transition : 0.8s;
	padding : 0;
}
.formButton:hover
{
	color : #FFF;
}

.formButton::before
{
	content : "";
	position : absolute;
	left : 0;
	width : 100%;
	height : 0%;
	background-color : #1E1E1E;
	z-index : -1;
	transition : 0.8s;
	bottom : 0;
	border-radius : 50% 50% 0 0;
}
.formButton:hover::before
{
	height : 180%;
}


