<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="travelInformationMapper">
	
	<select id="selectForestByCity" resultType="forestDTO">
		select FOREST_NAME, FOREST_LATITUDE, FOREST_LONGITUDE
		from forest where city=#{_parameter}
	</select>
	
	<select id="selectForestByName" resultType="String" parameterType="String">
		select FOREST_NAME
		from FOREST
		where lower(FOREST_NAME) like lower('%'||#{_parameter}||'%')
	</select>
	
	<select id="selectCity" resultType="String" >
		SELECT * from PROVINCE ORDER BY CITY
	</select>
	
	<select id = "selectForest" resultType="forestDTO">
		SELECT FOREST_NAME, CITY, FOREST_LATITUDE, FOREST_LONGITUDE FROM FOREST
	</select>
	
	<select id = "selectVideo" resultType = "videoDTO">
		SELECT * FROM VIDEO ORDER BY VIDEO_NAME
	</select>
	
	<insert id="insertSights" parameterType="sightsDTO">
		INSERT INTO SIGHTS (SIGHTS_NAME, CITY, SIGHTS_REGION, SIGHTS_DESCRIPTION, SIGHTS_LOCATION, SIGHTS_HOMEPAGE, SIGHTS_LATITUDE, SIGHTS_LONGITUDE)
		VALUES (#{sightsName},#{city},#{sightsRegion},#{sightsDescription},#{sightsLocation},#{sightsHomepage},#{sightsLatitude},#{sightsLongitude})
	</insert>
	<insert id="insertFestival" parameterType="festivalDTO">
		INSERT INTO FESTIVAL (FESTIVAL_NAME, FESTIVAL_LOCATION, FESTIVAL_START, FESTIVAL_END, FESTIVAL_DESCRIPTION, FESTIVAL_AGENCY, FESTIVAL_PHONE, FESTIVAL_HOMEPAGE, CITY, FESTIVAL_ADDRESS, FESTIVAL_LATITUDE, FESTIVAL_LONGITUDE)
		VALUES (#{festivalName},#{festivalLocation},#{festivalStart},#{festivalEnd},#{festivalDescription},#{festivalAgency},#{festivalPhone},#{festivalHomepage},#{city},#{festivalAddress},#{festivalLatitude},#{festivalLongitude})
	</insert>
	<insert id="insertVideo" parameterType="videoDTO">
		INSERT INTO VIDEO (VIDEO_NAME, VIDEO_SRC, VIDEO_LENGTH)
		VALUES (#{videoName},#{videoSrc},#{videoLength})
	</insert>
	
	<select id="selectSights" resultType="sightsDTO">
		SELECT * FROM SIGHTS ORDER BY SIGHTS_NAME
	</select>
	
	<select id="selectFestival" resultType="festivalDTO">
		SELECT * FROM FESTIVAL ORDER BY FESTIVAL_NAME
	</select>
	<delete id="deleteSights" parameterType="string">
		DELETE FROM SIGHTS WHERE SIGHTS_NAME = #{_parameter}
	</delete>
	<delete id="deleteFestival" parameterType="string">
		DELETE FROM FESTIVAL WHERE FESTIVAL_NAME = #{_parameter}
	</delete>
	<delete id="deleteVideo" parameterType="string">
		DELETE FROM VIDEO WHERE VIDEO_NAME = #{_parameter}
	</delete>
</mapper>