<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="travelInformationMapper">
	
	<select id="selectForestByCity" resultType="forestDTO">
		select FOREST_NAME, FOREST_LATITUDE, FOREST_LONGITUDE
		from forest where city=#{_parameter}
	</select>
	
	<select id="selectForestByName" resultType="String" parameterType="String">
		select FOREST_NAME
		from FOREST
		where lower(FOREST_NAME) like lower('%'||#{_parameter}||'%')
	</select>
	
	<select id="selectCity" resultType="String" >
		SELECT * from PROVINCE ORDER BY CITY
	</select>
	
	<select id = "selectForest" resultType="forestDTO">
		SELECT FOREST_NAME, CITY, FOREST_LATITUDE, FOREST_LONGITUDE FROM FOREST
	</select>
	
	<select id = "selectVideo" resultType = "videoDTO">
		SELECT * FROM VIDEO ORDER BY VIDEO_NAME
	</select>
	
	<insert id="sightsInsert" parameterType="sightsDTO">
		INSERT INTO SIGHTS (SIGHTS_NAME, CITY, SIGHTS_REGION, SIGHTS_DESCRIPTION, SIGHTS_LOCATION, SIGHTS_HOMEPAGE, SIGHTS_LATITUDE, SIGHTS_LONGITUDE)
		VALUES (#{sightsName},#{city},#{sightsRegion},#{sightsDescription},#{sightsLocation},#{sightsHomepage},#{sightsLatitude},#{sightsLongitude})
	</insert>
	
	<select id="selectSights" resultType="sightsDTO">
		SELECT * FROM SIGHTS ORDER BY SIGHTS_NAME
	</select>
	
	<select id="selectFestival" resultType="festivalDTO">
		SELECT * FROM FESTIVAL ORDER BY FESTIVAL_NAME
	</select>
</mapper>